body {
  
  background-color: black;
  /* background: #000000;  
  background: -webkit-linear-gradient(to right, #434343, #000000);  
  background: linear-gradient(to right, #434343, #000000);  */
  /* background-image: url('../src/Assets/background.png'); */
  color: #ffffff;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pageHeader {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  
}

.renderCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
  
}

.center {
  text-align: center;
}